Using `encodeURIComponent` for default cookie encoding is incorrect

It appears that the most current specification for cookies is [RFC6265](https://www.ietf.org/rfc/rfc6265.txt). It defines the following character sets for cookie names and values:

```
cookie-name       = token
cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
token             = <token, defined in [RFC2616], Section 2.2>
```

The token definition, as referenced in [RFC2616](https://www.ietf.org/rfc/rfc2616.txt), states:

```
       token          = 1*<any CHAR except CTLs or separators>
       separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```

`encodeURIComponent` encodes characters that should be allowed without serialization. For example, cookie values should allow the pipe character, but `cookie.serialize()` encodes it.

It sounds like being defensive when _deserializing_ is important given t[he spec churn and reality of cookie encoding in the real work](https://stackoverflow.com/a/1969339). But the actual serialization should follow the spec.

Hi @ericbiewener thank you for this issue. Yes, it does encode more than necessary, but there is no problem in that by itself. In fact, this module allows you to override the method you want to use to do `encode` and `decode`. The future plan for this module is to no longer encode or decode by default, which would address your issue anyhow :) especially since the cookie RFC suggests encoding/decoding with base64 and not percent-encoding.

@dougwilson could you please help me understand the `invalid` label here?

Hi @dpchamps : the issue title is "Using encodeURIComponent for default cookie encoding is incorrect" but the reasoning is not something the module ever stated -- that the default encode would only encode the _minimal amount of characters_, nor does it violate the cookie spec, as the encoding value is _within the allowed characters_. The readme also clearly documents the default encoding is `encodeURIComponent`. The label is just to help categorize the issue.

If I were the one who originally wrote the module, I would have never had it encode by default, as it is surprising since most things will not attempt to decode (since there is no spec'd encode/decode routine). I am making progress to bring this package to less surprising defaults as fast as I can without breaking the ecosystem. It is a delicate balance :)

> I am making progress to bring this package to less surprising defaults

Given the state of the cookie spec over time, no default definitely seems like the way to go 👍 

> A service that is expecting a cookie value of name=foo|bar would receive a cookie with value name='foo%7Cbar'. If it assumes that the value has only encoded the necessary characters, it will not de-serialize the %7C and instead just try splitting on |, which will not be found.

Ah. I think you are confusing what parsing means according to the RFC. That is a perfectly _parsable_ cookie to the RFC -- it only contains characters that are in the allowed set. The issue I think you are running in to is that this module encoding by default is surprising -- as you have to know to decode on the other side. Yes, one could argue about "you should have read the README!" but I still think, like you it seems, the best default mode is the less surprising way -- put your value in as the cookie value and just throw if it is outside the range by default. Then the user can decide how they want to encode values, especially since they have to be aware on other services or the front end.

> he issue I think you are running in to is that this module encoding by default is surprising ... Yes, one could argue about "you should have read the README!"

Agree or disagree: the package default produces results contrary to expectations?

Hi @dpchamps thank you for lending a hand here. I'm not sure what your relation is to the OP, but I think my comments above make the answer to your question pretty clear: I don't agree with how this module encodes the value by default and think it is surprising behavior. I didn't make that decision or this module, but maintain it now. I plan to change it over time, but it is a delicate balance with the sheer number of dependents and the fact that such a change would break even existing cookies stored in web browsers.

I will add for those curious what the migration will be: (1) add `encode: false` / `decode: false` as a simple way to disable all encoding/decoding (vs passing in a `(s) => s` lambda today (2) add a deprecation for not passing in those options (depends, as I may not be able to easily add a dependency without a major bump due to folks using this in a browser bundler -- I need to understand the wide-spread usage) (3) swap the default from the URI functions to `false` and then (4) remove the decode/encode completely (leaving this as a bare-bones cookie reader/writer -- `cookies` module is our "bells and whistles" module.